.logo {
    float: left;
}

.companyName {
    float: left;
    margin-left: -6.5%;
}

.price {
    float: right;
    padding-right: 20px;
    color: white;
    text-align: "right";
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 16pt;
}

.collapsibleLink {
    float: left;
    position: relative;
    left: 10%;
    top: 10%;
}

.description {
    text-align: left;
}

#btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    line-height: 1.42;
    border-radius: 20px;
}